body{
    min-height: 100vh;
    background: linear-gradient(135deg, #6A85B6, #BAC8E0);
    height: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* so i have been able to fix  the icon and now it has been able to change it's color from the */
/* black one to the one i have given it in the linear gradient way */

.icon{
    /* border: 2px solid black; */
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: end;
    
    height: 65px;
    width: 95px;
    margin-left: 40%;
    border-radius: 52px;
    padding-top: 25px;
    

    font-size: 35px;
    background: white;
    /* background-color:  linear-gradient(135deg, #6A85B6, #BAC8E0); */
}
.icon i {
    display: inline-block;

    background: linear-gradient(135deg, #6A85B6, #BAC8E0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.title{
    color: white;
}
/*
hr {
border: none;              remove default border
/* height: 3px;               thickness (make it bolder)
/* width: 80%;                control length 
/* background-color: white;   line color 
/* margin: 20px auto;         spacing + center
/* border-radius: 10px;       smooth edges
}  */

hr {
    border: none;
    height: 4px;
    width: 65%;
    margin: 20px auto;
    border-radius: 10px;
    background: linear-gradient(
        to right,
        transparent,
        white,
        transparent
    );

    transform: scaleX(0);
    transform-origin: center;
    animation: hrGrow 1.5s ease-out forwards;
}
@keyframes hrGrow {
    to {
        transform: scaleX(1);
    }
}


.happy, .sad, .angry, .calm, .confused, .motivation, .fear{
    /* border: 2px solid black; */
    margin-bottom: 20px;
    width: 240px;
    height: 55px;
    text-align: center;
    padding-top: 5px;
    margin-left: 24%;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 34px;

    text-decoration: none;
    font-size: 25px;
    padding-top: 10px;
    box-shadow: 0px 10px 15px;
}
a{
    text-decoration: none;
    color: white;
}
.happy{
    background: linear-gradient(to right,orange, yellow);
    transition: transform 1s ease;
    box-shadow: 0px 10px 15px;
}
.happy:hover{
    transform: scale(1.09);
}
.happy:active{
    transform: scale(0.90);
}

.sad{
    background: linear-gradient(to right,aqua, rgb(59, 59, 219) );
    transition: transform 1s ease;
    box-shadow: 0px 10px 15px;
}
.sad:hover{
    transform: scale(1.09);
}
.sad:active{
    transform: scale(0.90);
}
.angry{
    background: linear-gradient(to right,rgb(245, 63, 18), red);
    transition: transform 1s ease;
    box-shadow: 0px 10px 15px;
}
.angry:hover{
    transform: scale(1.09);
}
.angry:active{
    transform: scale(0.90);
}
.calm{
    background: rgb(86, 218, 86);
    transition: transform 1s ease;
    box-shadow: 0px 10px 15px;
}
.calm:hover{
    transform: scale(1.09);
}
.calm:active{
    transform: scale(0.90);
}
.confused{
    background: lightgrey;
    transition: transform 1s ease;
    box-shadow: 0px 10px 15px; 
}
.confused:hover{
    transform: scale(1.09);
}
.confused:active{
    transform: scale(0.90);
}
.motivation{
    background: linear-gradient(to right,rgb(0, 89, 244), rgb(207, 52, 207));
    transition: transform 1s ease;
    box-shadow: 0px 10px 15px;
}
.motivation:hover{
    transform: scale(1.09);
}
.motivation:active{
    transform: scale(0.90);
}
.fear{
    background: linear-gradient(to right,rgb(28, 125, 204), yellow);
    transition: transform 1s ease;
    box-shadow: 0px 10px 15px;
}
.fear:hover{
    transform: scale(1.09);
}
.fear:active{
    transform: scale(0.90);
}

